<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 제목 태그 -->
    <h1> 
        제목이다
    </h1>
    <p>
        
김수경 대통령실 대변인은 오늘(20일) 서면 브리핑을 통해 윤 대통령이 제9회 국무회의 마무리 발언에서 “의료개혁 과정에서 국민들의 생명과 건강이 위협받는 것은 있을 수 없다”며 이 같이 말했다고 전했습니다.

윤 대통령은 또 “임상의사도 중요하지만 첨단 바이오 및 헬스케어 분야의 국제 경쟁력을 갖추기 위해서도 의료 인력 확충은 중요하다”고 밝혔습니다.

한편 윤 대통령은 올해 전면 시행을 앞둔 늘봄학교와 관련해서는 “국가가 아이들을 돌보는 것은 어떤 수단을 동원해서라도 해결해야 할 인도적 문제이자 인권의 문제”라고 말했습니다.
    </p>
    <!--하이퍼링크-->
    <a href="https://www.google.com">Google</a>

</body>
</html>